.inicio{
    background-image: url("../resources/img/mostrador.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font: 150% sans-serif;
    color: white;
}

.registrar{
    background-image: url("../resources/img/mostrador.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font: 150% sans-serif;
    color: white;
}

.caja_index{
    background-color:white;
    width: 80%;
    height:80%;
    margin-top: 2%;
   margin-left: 10%;

}
